<%= form_for :plant, url: plants_path, local: true do |form| %>
  
  <% if @plant.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@plant.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @plant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :choose_site %><br>
    <%= form.select :site_id, Site.all.collect {|c| [ c.name, c.id ] } %><br>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>